<%= turbo_frame_tag @product do %>
<%= render @product %>
<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= button_to "Destroy this product", @product, method: :delete %>
</div>

<% end %>